h1{
    color: red;
    
    font-family: monospace;
    text-shadow: 9px 5px 5px black;

}
.div1{
    height: 300px;
    width: 300px;
    background-color: lightblue;
    
    border: 2px solid black;
}